.Navbar{
    display: flex;
    align-items: baseline;    
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    
    color: #fff;
    
    width: 100%;
}
.item{
    margin-right: 1em;
    margin-left:1em ;

}
.item a {
    color: #fff;
    text-decoration: none;
    transition: .5s;
    
}
.item a:hover{
    color: #efefef;
    padding-right: 3%;
    padding-top: 3%;
    
   
   
}
.logo{
    border-radius: 100px;
    width: 120%;
    height: 120%;
}